@font-face {
  font-family: "Ubuntu";
  src: url(./assets/Ubuntu/Ubuntu-Regular.ttf) format(".ttf");
}
:root {
  --primary-color: #EFECEC;
  --secondary-color: #62929A;
  --tertiary-color: #5C5757;
  --fourth-color: #363434;
  --font-family: "Ubuntu";
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.nav-container {
  background: var(--fourth-color);
  height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.drop-down-menu {
  display: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: 34px;
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background: var(--secondary-color);
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
}

/***** Spin Animation *****/
.bar--top {
  bottom: calc(50% + 11px + 2px);
  transition-property: bottom, transform;
  transition-delay: 0.35s, 0s;
}

.bar--middle {
  top: calc(50% - 2px);
  transition-property: opacity;
  transition-delay: 0.35s;
}

.bar--bottom {
  top: calc(50% + 11px + 2px);
  transition-property: top, transform;
  transition-delay: 0.35s, 0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 2px);
  transform: rotate(135deg);
  transition-delay: 0s, 0.35s;
}

#checkbox:checked + .toggle .bar--middle {
  opacity: 0;
  transition-duration: 0s;
  transition-delay: 0.35s;
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 2px);
  transform: rotate(225deg);
  transition-delay: 0s, 0.35s;
}

.anchor-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.anchor-container .animated-link,
.anchor-container a {
  position: relative;
  padding: 10px 20px;
  color: var(--primary-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}
.anchor-container .animated-link:hover,
.anchor-container a:hover {
  background: var(--secondary-color);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secondary-color), 0 0 25px var(--secondary-color), 0 0 50px var(--secondary-color), 0 0 100px var(--secondary-color);
}
.anchor-container .animated-link .animation,
.anchor-container a .animation {
  position: absolute;
  display: block;
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--secondary-color));
  animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.svg-container svg {
  fill: var(--primary-color);
  cursor: pointer;
  transition: fill 0.5s ease-in-out;
}
.svg-container svg:hover {
  transform: scaleX(1);
  fill: var(--secondary-color);
}

.card-hidden {
  display: none;
}

.card-tracker-container {
  position: absolute;
  top: 11vh;
  right: 1.2vw;
  background: var(--fourth-color);
  width: 190px;
  height: 254px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card h1 {
  z-index: 1;
  color: white;
  font-size: 2em;
}

.card-tracker-container::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, var(--secondary-color), var(--secondary-color));
  height: 130%;
  animation: rotBGimg 6s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-tracker-container::after {
  content: "";
  position: absolute;
  background: var(--fourth-color);
  inset: 5px;
  border-radius: 15px;
}

@media (max-width: 450px) {
  /* Oculta los elementos del navbar */
  .anchor-container,
  .title-container {
    display: none;
  }
  .anchor-mobile-container {
    display: block;
    position: absolute;
    top: 11vh;
    left: 1.2vw;
    background: var(--fourth-color);
    width: 190px;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }
  .my-anchor-hidden {
    display: none;
  }
  .drop-down-menu {
    display: block;
  }
}
@media (min-width: 451px) and (max-width: 780px) {
  .anchor-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .anchor-container .animated-link,
  .anchor-container a {
    position: relative;
    padding: 10px 15px;
    color: var(--primary-color);
    font-size: 12px;
  }
}/*# sourceMappingURL=Navbar.css.map */