@import '../App.scss';

// Colors
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$fourth-color: var(--fourth-color);
$full-dark-background: #040D12;

// Nav
.nav-container {
  background: $fourth-color;
  height: 10vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

//Drop Down Menu
.drop-down-menu{
  display: none;

  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;

    .bars {
      width: 100%;
      height: 4px;
      background-color: $secondary-color;
      border-radius: 4px;
    }
    
    .bar--middle {
      transition-duration: .8s;
    }
    
    .bar--top,.bar--bottom {
      width: 70%;
    }

  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle .bar--middle {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle .bar--top {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle .bar--bottom {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  
}

//Hideen Anchor Mobile for Normal Size
.anchor-mobile-off {
  display: none;
}

// Anchor For Medium && Large Display
.anchor-container {
  width: 50%;
  display: flex;
  justify-content: space-around;

  // Animación de enlaces
  .animated-link,
  a {
    position: relative;
    padding: 10px 20px;
    color: $primary-color;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;

    &:hover {
      background: $secondary-color;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px $secondary-color,
                  0 0 25px $secondary-color,
                  0 0 50px $secondary-color,
                  0 0 100px $secondary-color;
    }

    .animation {
      position: absolute;
      display: block;
      bottom: 2px;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, $secondary-color);
      animation: btn-anim1 2s linear infinite;
    }
    
  }

}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }

}

// SVG
.svg-container svg {
  fill: $primary-color;
  cursor: pointer;
  transition: fill 0.5s ease-in-out;

  &:hover {
    transform: scaleX(1);
    fill: $secondary-color;
  }

}

//Card Tracker Config
.card-tracker-container {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 17vw;

  .card-tracker{
    width: 100%;
  }

}

.card-tracker-hidden {
  display: none;
}

//Media Queries
@media (max-width: 450px) {

  .drop-down-menu {
    display: block;
  }

  // Oculta los elementos del navbar
  .anchor-container,
  .title-container {
    display: none;
  }

  //Anchor Mobile
  .anchor-mobile-container {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    height: 45vh;
    width: 45vw;

    .card-anchor-container {
      width: 100%;
      height: 100%;
      
      .card-anchor-mobile-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5em;

        .anchor-mobile-decoration {
          text-decoration: none;
          text-align: center;
          display: inline-block;
          padding: 0.5em 0.7em;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          color: $primary-color;
          background-color: $full-dark-background;
          border: none;
          border-radius: 50px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          position: relative;
          z-index: 1;
          
          &:hover {
            background-color: #111111;
            transform: translateY(-2px);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.3);
          }

          &:active {
            transform: translateY(1px);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }

          &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }

          &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50px;
            z-index: -1;
            transition: all 0.3s ease-in-out;
          }

          &:hover::before {
            top: -8px;
            left: -8px;
            right: -8px;
            bottom: -8px;
          }

        }
      }
    }

  }

  .my-anchor-hidden {
    display: none;
  }

  //Tracker Container Mobile
  .card-tracker-container {
    width: 45vw;

    .card-tracker{
      width: 100%;
    }

  }

}

@media (min-width: 451px) and (max-width: 780px) {
  
  //Anchor Medium size
  .anchor-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
  
    // Animación de enlaces
    .animated-link,
    a {
      position: relative;
      padding: 10px 15px;
      color: $primary-color;
      font-size: 12px;
    }

  }

}